body{
    display: flex;
    margin: 0px;
  

}
.navigation-bar{
    background-color:#3f0e3f;
 
}
.nav-1-portion{
    margin-left: 20px;
}

.tk-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.name-part{
    display: flex;
    margin-top: -18px;
}
.name-part i{
    font-size: 12px;
    margin-top: 3px;
    color: #2bac76;
}
.tk-part i{
    color: #886889;
    border-color: #886889;
    padding-top: 15px;
    font-size: 22px;
    margin-right: 28px;
    
}
h1{
    margin-top: 2px;
    color: white;
}
h1 i{
color: #886889;
font-size: 16px;

}
h3{
    color: #886889;
    font-size: 16px;
    margin-top: 0;
    margin-left: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
}
#input-btn i{
color: white;
font-size: 17px;
}

#input-btn{
    border: 2px solid;
    border-radius: 7px;
    border-color: #3e0e3f;

}
#input-btn button{
    border: 1px solid;
    border-color: #200720;
    border-radius: 5px 0px 0px 5px;
    background-color: #200720;
    padding: 5px; 
}

#input-btn input{
    border: 1px solid;
    border-color: #200720;
    border-radius: 0px 5px 5px 0px;
    background-color: #200720;
    padding: 8px 0px 5px 0px;
}

.nav-2-portion{
    margin-left: 20px;
}
.nav-2-portion i{
    color: #a09a9f;
    font-size: 20px;
    

}
.nav-2-portion h3{
    margin-block-start: 0px;
    margin-block-start: 3px;
    margin-block-end: 10px;
}
.nav-2-portion h3 i{
    font-size: 14px;
    color: #a09a9f;
}
.nav-2-portion h3{
    padding: 10px 0px;
}
.nav-2-portion{
    margin-block-start: 5px;
}
.threads:hover h3{
    color: #ffffff;
}
.channels:hover h3{
    color: #ffffff;
}
.nav-2-portion .channels{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -30px;
}

.nav-2-portion{
    margin-block-start: 0px;
    margin-block-end: 10px;
    list-style-type: none;
    padding-inline-start: 5px;
}
.nav-2-portion li{
    font-size: 19px;
    color: #a09a9f;
    list-style-type: none;
}
.nav-2-portion li:hover{
    background-color: #1263a3;
    color: #ffffff;
}
.nav-2-portion li >i{
    font-size: 12px;
}
.channels i{
    margin-right: 28px;
    margin-top: 10px;
}
.li-items{
    margin-left: -35px;
}
.nav-3-portion{
    margin-block-start: 0px;
    margin-block-end: 10px;
    list-style-type: none;
    padding-inline-start: 22px;
}
#add-message{
    margin-block-start: 15px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
}
#add-message:hover h3{
    color: #ffffff;
}
#add-message i{
    margin-right: 28px;
    margin-top: 0px;
    color: #a09a9f;
    font-size: 20px;
}
.li-list{
    margin-block-start: 0px;
    margin-block-end: 10px;
    list-style-type: none;
    padding-inline-start: 5px;
}
.li-list li{
    font-size: 19px;
    color: #a09a9f;
}
.li-list li >i{
    font-size: 12px;
}
.li-list li:nth-child(1) >i{
    color: #2bac75;
}
.li-list li:nth-child(2) >i{
    color: #2bac75;
}
#apps{
    margin-block-start: 15px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    margin-left: 20px;
}
#apps i{
    margin-right: 28px;
    margin-top: 0px;
    color: #a09a9f;
    font-size: 20px;
}
.nav-4-portion li{
    list-style-type: none;
    font-size: 19px;
    color: #a09a9f;
    margin-left: -15px;
}
#apps:hover h3{
    color: #ffffff;
}
header{
    padding-inline-start: 21px;
    padding-block-start:  0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #b6b4b6;
}
.header-announcements{
    display: flex;
    flex-direction: column;
}
.header-announcements h2{
    margin-block-start: 1px;
    margin-block-end: 4px;
    color: #1e1d1e;
}
.header-announcements div i{
         padding: 1px 5px;
        color: #616061;
}
.header-announcements div i:nth-child(2){
    border-left: 1px solid;
    border-right: 1px solid;

}
.header-announcements div i:nth-child(3){
    border-right: 1px solid;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo i{
    padding: 6px 8px;
    color: #616061;
    font-size: 20px;
}
.main-search{
    border: 2px solid;
    border-radius: 5px;
    border-color: #616061;
    padding-right: 91px; 
}
.main-search i{
    color: #616061;
}
.main-search button{ 
    background-color: white;
    padding: 0px;
    border: none; 
}
.main-search input{
    border: 1px solid;
    border-color:white;
    border-radius: 0px 5px 5px 0px;
    background-color:white ;
    padding: 10px 0px 5px 0px;
}
fieldset{
    border-bottom: none;
    border-right: none;
    border-left:none;
    margin: 10px;
    text-align: center; 
}
legend{
    font-size: 20px;
}
main{
    width: 100%;
}